<h2>Şifremi unuttum</h2>
<br />
<form action="ForgotPassword" method="post">
    <div class="mb-3">
        <label for="Email">E-Posta Adresiniz</label>
        <input type="email" name="Email" id="Email" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>