<div class="text-center"
     style="background-image: url('/img/boho-background.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: black; 
     aspect-ratio: 16 / 9;
            padding: 20px;
margin-bottom:-20px;
            align-content:center;
            justify-content:center;
">
    <div class="row">
        <div class="col-sm-6 mb-3  mb-sm-0 " style="margin:auto auto;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome</h5>
                    <p class="card-text">Hello user, Would wou like to visit the content page?</p>
                    <a href="Contents/Index" class="btn btn-primary">Go Somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>